body {
  --header-height: 13.125rem
}
@font-face {
  font-family: Shree;
  src: url(../fonts/Shree.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
:active,
:focus {
  outline: 0
}
a:active,
a:focus {
  outline: 0
}
body,
html {
  height: 100%;
  min-width: 320px;
  scroll-behavior: smooth
}
body,
html {
  font-size: .8333333333vw
}
body {
  color: #000;
  line-height: 1;
  font-family: Montserrat,sans-serif;
  font-size: toRem(16);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #d6b7ac
}
button,
input,
textarea {
  font-family: Montserrat,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button {
  outline: 0
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img,
svg {
  max-width: 100%;
  height: auto
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.menu__body {
  position: absolute;
  width: 100%;
  box-shadow: inset -3.4375rem -.75rem 11.25rem #c3c7cb;
  -webkit-filter: drop-shadow(.625rem .875rem 5.25rem rgba(0, 0, 0, .25));
  filter: drop-shadow(.625rem .875rem 5.25rem rgba(0, 0, 0, .25));
  background: linear-gradient(90deg,#bfbdbb 0,#e1e9ee 100%);
  z-index: 5;
  top: .125rem;
  opacity: 0;
  overflow: auto;
  max-width: 31.25rem;
  padding: 6.5625rem 6.1875rem;
  transition: .3s;
  pointer-events: none
}
.menu__body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 4.375rem;
  left: -100%;
  top: 0;
  transition: .3s;
  z-index: 2
}
.menu-open .menu__body {
  pointer-events: all;
  opacity: 1
}
.menu-open .menu__body::before {
  left: 0
}
.menu__list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2.1875rem
}
.menu__list a {
  white-space: nowrap;
  font-style: italic;
  font-weight: 300;
  font-size: 2.25rem;
  line-height: 97%;
  color: #000;
  padding: .3125rem 0;
  opacity: .8;
  transition: .2s ease-in-out;
  position: relative;
  display: inline-block
}
.menu__list a::after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: .125rem;
  background-color: #000;
  content: "";
  width: 0;
  transition: .2s ease-in-out
}
.icon-menu {
  display: block;
  position: relative;
  width: 4.375rem;
  height: 2.5rem;
  z-index: 15
}
.icon-menu span,
.icon-menu::after,
.icon-menu::before {
  content: "";
  transition: all .3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: .125rem;
  background-color: rgba(0,0,0,.5)
}
.icon-menu::before {
  top: 0
}
.icon-menu::after {
  bottom: 0
}
.icon-menu span {
  top: 50%;
  translate: 0 -50%
}
.menu-open .icon-menu span {
  width: 0
}
.menu-open .icon-menu::before {
  top: calc(50% - .0625rem);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.menu-open .icon-menu::after {
  bottom: calc(50% - .0625rem);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}
.button {
  font-style: italic;
  font-weight: 300;
  font-size: 1.875rem;
  text-transform: uppercase;
  color: rgba(0,0,0,.7);
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.3125rem 1.1875rem;
  gap: .4375rem;
  height: 5.125rem;
  border-bottom: .125rem solid #000;
  border-radius: 0 0 .875rem .875rem;
  transition: .2s ease-in-out;
  position: relative;
  z-index: 1
}
.social-icon {
  aspect-ratio: 1/1;
  width: 5.1875rem;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .5;
  transition: .2s ease-in-out
}
.title {
  font-style: italic;
  font-weight: 300;
  font-size: 2.75rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: rgba(0,0,0,.5)
}
.catalog-marquee__img,
.company__img,
.img-cover,
.product-card__img {
  border-radius: .9375rem;
  overflow: hidden
}
.catalog-marquee__img img,
.company__img img,
.img-cover img,
.product-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.catalog__head::after,
.catalog__head::before,
.decor-line,
.help__head::before,
.order__head::after {
  content: "";
  height: .125rem;
  background-color: rgba(0,0,0,.5);
  display: inline-block;
  flex: 1
}
.page {
  position: relative;
  z-index: 2
}
.page__top-decor {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: url(../img/hero-bg.webp) top center/cover no-repeat;
  aspect-ratio: 1920/1454
}
.page__top-decor::after,
.page__top-decor::before {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  aspect-ratio: 1920/703;
  background: linear-gradient(180deg,rgba(217,217,217,0) 0,rgba(204,204,206,.5) 36.5%,#bebfc3 72%)
}
.page__top-decor::before {
  bottom: 0
}
.page__top-decor::after {
  top: 100%;
  scale: 1 -1
}
@-webkit-keyframes scroll {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  to {
    -webkit-transform: translateX(calc(-50% - 1.5625rem));
    transform: translateX(calc(-50% - 1.5625rem))
  }
}
@keyframes scroll {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  to {
    -webkit-transform: translateX(calc(-50% - 1.5625rem));
    transform: translateX(calc(-50% - 1.5625rem))
  }
}
.content-page {
  background: url(../img/page-bg.svg) top center/cover no-repeat;
  padding-top: 25.6875rem
}
.mobile {
  display: none
}
body::after {
  content: "";
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .8s ease 0s;
  pointer-events: none;
  z-index: 149
}
.popup-show body::after {
  opacity: 1
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1.875rem .625rem;
  transition: visibility .8s ease 0s;
  visibility: hidden;
  pointer-events: none
}
.popup__close {
  width: 3.8125rem;
  opacity: .5;
  transition: .2s ease-in-out;
  position: absolute;
  right: .625rem;
  top: .9375rem
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto
}
.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s;
  background: linear-gradient(90deg,#bfbdbb 0,#e1e9ee 100%);
  border-radius: .9375rem;
  padding: 6.5625rem 4.1875rem 5.25rem;
  width: 100%;
  max-width: 40.875rem
}
.lock .popup__content {
  visibility: visible
}
.modal__form {
  display: flex;
  flex-direction: column;
  gap: 2.8125rem
}
.modal__form-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}
.modal small {
  text-align: center;
  font-style: italic;
  font-weight: 300;
  font-size: 1rem;
  line-height: 219%;
  color: rgba(0,0,0,.8)
}
.modal button[type=submit],
.modal input[type=submit] {
  cursor: pointer;
  width: 100%;
  max-width: 20.625rem
}
.field {
  display: flex;
  flex-direction: column;
  gap: .9375rem
}
.field label {
  font-style: italic;
  font-weight: 300;
  font-size: 1.875rem;
  line-height: 117%;
  color: rgba(0,0,0,.8)
}
.field input:not([type=submit]) {
  font-style: italic;
  font-weight: 300;
  font-size: 2.25rem;
  padding: 1.25rem;
  width: 100%;
  height: 4.6875rem;
  border: .0625rem solid #000;
  border-radius: .9375rem
}
.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  position: relative;
  list-style: none
}
.spollers__title::-webkit-details-marker,
.spollers__title::marker {
  display: none
}
._spoller-init .spollers__title {
  cursor: pointer
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 101.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,100rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.header {
  padding: 3.75rem 0 1.875rem;
  position: fixed;
  height: var(--header-height);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: .2s ease-in-out
}
.header::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  translate: 0 -100%;
  transition: .2s ease-in-out;
  height: 100%;
  z-index: -1;
  content: "";
  background: linear-gradient(6.67deg,rgba(188,191,194,0) 5.24%,rgba(188,191,194,.456731) 20.3%,rgba(188,191,194,.663462) 43.12%,rgba(188,191,194,.831731) 64.64%,#bcbfc2 94.78%)
}
.header__container {
  max-width: none
}
.header__mobile-logo {
  display: flex;
  flex-direction: column;
  width: 5rem;
  gap: .125rem;
  font-style: italic;
  font-weight: 300;
  font-size: .2738rem;
  line-height: 217%;
  letter-spacing: .01em;
  text-transform: uppercase;
  color: rgba(0,0,0,.7);
  position: absolute;
  left: 0;
  top: 0;
  translate: -100% -1.25rem
}
.header__mobile-contact {
  display: flex;
  gap: 1.0625rem;
  align-items: center
}
.header__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between
}
.header__inner::after,
.header__inner::before {
  position: absolute;
  content: "";
  opacity: .5;
  height: .125rem;
  background-color: #000;
  top: 0;
  z-index: 1;
  transition: .2s ease-in-out
}
.header__inner::before {
  width: 43.75rem;
  left: 0
}
.header__inner::after {
  right: 18rem;
  width: 13.125rem
}
.header__left {
  display: flex;
  gap: 3.6875rem;
  padding-top: 1.125rem
}
.header__right {
  display: flex;
  align-items: center;
  gap: 2.3125rem;
  display: none;
  transition: .2s ease-in-out;
  opacity: 0;
  position: relative;
  z-index: 1
}
.header__logo {
  max-width: 13.875rem;
  position: absolute;
  left: 50%;
  top: 0;
  translate: -50% -2.125rem;
  display: none;
  transition: .2s ease-in-out;
  opacity: 0
}
.header__social {
  display: flex;
  align-items: center;
  gap: 1.4375rem
}
.header__social .social-icon {
  width: 4.125rem;
  opacity: 1
}
.header__contact {
  display: flex;
  flex-direction: column;
  gap: .4375rem;
  display: none;
  transition: .2s ease-in-out;
  opacity: 0;
  position: relative;
  z-index: 1
}
.header__contact a {
  font-size: 1.3125rem;
  line-height: 1.23;
  color: rgba(39,37,31,.5);
  transition: .2s ease-in-out
}
.header--fixed {
  background-color: rgba(214,183,172,.7);
  backdrop-filter: blur(.3125rem)
}
.header--fixed::after {
  translate: 0 0
}
.header--fixed .header__logo::after {
  translate: -50% -50%;
  opacity: 1
}
.header--fixed .header__container {
  max-width: 97.5rem
}
.header--fixed .header__inner::before {
  width: 37.5rem
}
.header--fixed .header__inner::after {
  width: 39.25rem;
  right: 0
}
.header--fixed .header__contact,
.header--fixed .header__right {
  display: flex;
  opacity: 1
}
.header--fixed .header__logo {
  display: block;
  opacity: 1
}
.header--content .header__inner::after {
  right: 0
}
.catalog {
  margin: 5.8125rem 0;
  position: relative;
  z-index: 2
}
.catalog__container {
  max-width: 99.375rem
}
.catalog__head {
  display: flex;
  align-items: center;
  gap: 4.875rem;
  margin-bottom: 4.0625rem
}
.catalog__head::before {
  width: 23.75rem
}
.catalog__body {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem
}
.catalog__body:not(:last-child) {
  margin-bottom: 2.9375rem
}
.catalog__bottom {
  display: flex;
  flex-direction: column;
  gap: 1.0625rem;
  justify-content: center;
  align-items: center
}
.catalog__text {
  font-weight: 200;
  font-size: 1.625rem;
  line-height: 109%;
  text-align: center
}
.catalog-marquee {
  display: flex;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: -webkit-max-content;
  width: max-content;
  gap: 1.5625rem;
  -webkit-animation: scroll 35s linear infinite;
  animation: scroll 35s linear infinite
}
.catalog-marquee__block {
  display: flex;
  gap: 1.5625rem;
  flex-shrink: 0
}
.catalog-marquee__item {
  flex: 0 0 auto;
  height: 24.9375rem
}
.catalog-marquee__item:first-child {
  aspect-ratio: 368/399
}
.catalog-marquee__item:nth-child(2) {
  aspect-ratio: 516/399
}
.catalog-marquee__item:last-child {
  aspect-ratio: 373/399
}
.catalog-marquee__img {
  width: 100%;
  height: 100%
}
.catalog-marquee__grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 14.125rem 9.25rem;
  gap: 1.5625rem
}
.catalog-marquee__grid .catalog-marquee__img {
  width: 100%;
  height: auto
}
.catalog-marquee__grid .catalog-marquee__img:nth-child(1) {
  grid-column: span 2
}
.catalog-marquee__grid+.catalog-marquee__item {
  width: 8.5rem
}
.catalog-marquee--reverse {
  animation-direction: reverse;
  -webkit-animation-duration: 70s;
  animation-duration: 70s
}
.catalog-marquee--reverse .catalog-marquee__item {
  height: 24.4375rem
}
.catalog-marquee--reverse .catalog-marquee__item:nth-child(6n+1) {
  aspect-ratio: 196/391
}
.catalog-marquee--reverse .catalog-marquee__item:nth-child(6n+2) {
  aspect-ratio: 142/391
}
.catalog-marquee--reverse .catalog-marquee__item:nth-child(6n+3) {
  aspect-ratio: 375/391
}
.catalog-marquee--reverse .catalog-marquee__item:nth-child(6n+4) {
  aspect-ratio: 463/391
}
.catalog-marquee--reverse .catalog-marquee__item:nth-child(6n+5) {
  aspect-ratio: 365/391
}
.catalog-marquee--reverse .catalog-marquee__item:nth-child(6n+0) {
  aspect-ratio: 368/391
}
.order {
  position: relative;
  margin: 5.8125rem 0;
  padding-top: var(--header-height);
  margin-top: calc(-1*(var(--header-height) - 5.8125rem))
}
.order::after {
  position: absolute;
  top: -5%;
  right: 0;
  width: 80%;
  height: 100%;
  opacity: .9;
  z-index: -2;
  background: url(../img/bg-bottom-sm.webp) right center/contain no-repeat;
  content: ""
}
.order__container {
  max-width: 101.875rem
}
.order__top {
  display: flex;
  flex-direction: column;
  gap: 5.625rem;
  margin-bottom: 5.625rem;
  padding-left: 2rem
}
.order__head {
  display: flex;
  align-items: center;
  padding-left: 5.75rem
}
.order__head::after {
  margin-left: 3.9375rem
}
.order__text {
  font-style: italic;
  font-size: 2.375rem;
  max-width: 97.8125rem;
  line-height: 150%;
  color: rgba(0,0,0,.8)
}
.order__list {
  display: flex;
  flex-direction: column;
  gap: 4.375rem
}
.order__list:not(:last-child) {
  margin-bottom: 11.875rem
}
.order__memo {
  padding-top: 6.5rem;
  display: flex;
  flex-direction: column;
  gap: 5.3125rem
}
.order-item {
  font-size: 2.125rem;
  line-height: 167%;
  color: rgba(0,0,0,.8)
}
.order-item:nth-child(2) {
  max-width: 73.9375rem
}
.order-item:nth-child(3) {
  max-width: 80rem
}
.order-item h3 {
  font-family: "Cormorant Garamond",serif;
  font-style: italic;
  font-size: 3.125rem;
  line-height: 86%;
  position: relative;
  padding-bottom: 1.875rem;
  margin-bottom: 1.875rem
}
.order-item h3::after {
  position: absolute;
  bottom: 0;
  width: 61.784%;
  content: "";
  background-color: #000;
  height: .125rem;
  left: 0
}
.order-item ul {
  padding-left: 2.5rem;
  list-style: disc
}
.order-item ul li {
  list-style: disc
}
.order-item ul li::marker {
  font-size: 1.25rem
}
.order-item--delivery {
  padding-top: var(--header-height);
  margin-top: calc(-1*var(--header-height))
}
.order-memo {
  text-align: center;
  color: rgba(0,0,0,.8);
  font-style: italic
}
.order-memo__title {
  font-size: 2.9375rem;
  line-height: 150%
}
.order-memo__text {
  font-size: 2.375rem;
  line-height: 188%
}
.contact {
  margin: 9.25rem 0 3rem
}
.contact__container {
  max-width: 94.625rem
}
.contact__inner {
  max-width: 79rem;
  margin-left: auto;
  width: 100%
}
.contact__title {
  padding-left: 7.5rem;
  margin-bottom: 2.6875rem
}
.contact__form {
  display: flex;
  align-items: center;
  gap: 2.5625rem;
  margin-left: 1.1875rem;
  max-width: 54.25rem;
  width: 100%;
  margin-bottom: 1.9375rem
}
.contact__form input:not([type=submit]) {
  border-radius: .9375rem;
  background-color: hsla(0,0%,100%,.5);
  font-size: 1.875rem;
  color: #27251f;
  width: 100%;
  height: 4.375rem;
  padding: 1.125rem 1.5625rem
}
.contact__form input:not([type=submit])::-webkit-input-placeholder {
  color: rgba(39,37,31,.5)
}
.contact__form input:not([type=submit]):-ms-input-placeholder {
  color: rgba(39,37,31,.5)
}
.contact__form input:not([type=submit])::-ms-input-placeholder {
  color: rgba(39,37,31,.5)
}
.contact__form input:not([type=submit])::placeholder {
  color: rgba(39,37,31,.5)
}
.contact__form input[type=submit] {
  display: inline-flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 1.125rem 2.6875rem;
  height: 4.375rem;
  background: #27251f;
  border-radius: .9375rem;
  font-size: 1.75rem;
  cursor: pointer;
  color: hsla(0,0%,100%,.5);
  transition: .2s ease-in-out
}
.contact__menu {
  max-width: 54.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 2.5625rem
}
.contact__menu a {
  font-size: 1.875rem;
  line-height: 1.23;
  color: rgba(39,37,31,.5);
  transition: .2s ease-in-out;
  padding: .3125rem 0;
  border-bottom: .125rem solid transparent
}
.contact__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.875rem;
  line-height: 1.23;
  color: rgba(39,37,31,.5)
}
.contact__phones {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: .375rem
}
.contact__phones a {
  transition: .2s ease-in-out
}
.contact__social {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1.4375rem
}
.contact__mail {
  flex: 1;
  transition: .2s ease-in-out
}
.footer {
  position: relative;
  z-index: 2;
  margin: 3.75rem 0
}
.footer__container {
  max-width: 94.625rem
}
.footer__copy {
  font-family: Shree,sans-serif;
  font-size: 1.6875rem;
  color: rgba(39,37,31,.5);
  line-height: 1.5
}
.footer__copy img {
  width: 3.25rem;
  vertical-align: middle
}
.hero {
  position: relative;
  z-index: 1;
  min-height: 72.8125rem
}
.hero__container {
  max-width: none
}
.hero__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 15.625rem 0 0 3rem
}
.hero__logo {
  width: 27.125rem;
  margin-bottom: .5rem;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.hero__text {
  font-style: italic;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 217%;
  letter-spacing: .01em;
  text-transform: uppercase;
  color: rgba(0,0,0,.7);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 7.375rem
}
.company {
  padding-top: var(--header-height);
  margin-top: calc(-1*var(--header-height))
}
.company__container {
  max-width: 97.5rem
}
.company__head {
  display: flex;
  align-items: center;
  margin-bottom: 2.875rem
}
.company__head::after,
.company__head::before {
  content: "";
  height: 2px;
  background-color: rgba(0,0,0,.5);
  display: inline-block
}
.company__head::before {
  width: 9.375rem;
  margin-right: 4.5625rem
}
.company__head::after {
  flex: 1;
  margin-left: 5.25rem
}
.company__body {
  position: relative;
  display: flex;
  gap: 1.1875rem
}
.company__bottom {
  display: flex;
  align-items: center;
  justify-content: center
}
.company__bottom .button {
  padding: .3125rem .75rem
}
.company__content {
  color: rgba(0,0,0,.8);
  font-style: italic;
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  padding-bottom: 6.625rem;
  flex: 0 0 auto;
  width: 93%
}
.company__content-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.125rem 4.5625rem
}
.company__text {
  font-size: 2.5rem;
  line-height: 138%;
  display: flex;
  flex-direction: column;
  gap: 3.125rem
}
.company__content-img {
  border-radius: .9375rem;
  aspect-ratio: 358/534;
  overflow: hidden;
  flex: 0 0 auto;
  width: 23rem
}
.company__content-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.company__text-lg {
  font-size: 3.125rem;
  line-height: 110%
}
.company__images {
  display: flex;
  flex-direction: column;
  gap: 1.5rem
}
.company__img {
  aspect-ratio: 251/399;
  width: 15.6875rem
}
.help {
  margin: 5.9375rem 0 12.8125rem;
  position: relative;
  z-index: 1
}
.help::after {
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  background: url(../img/bg-center.webp) center/contain no-repeat;
  aspect-ratio: 1636/1324;
  width: 100%;
  max-width: 102.25rem;
  translate: -50% -40%
}
.help__container {
  max-width: 98.75rem
}
.help__head {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 5.0625rem;
  margin-right: 7.125rem
}
.help__head::before {
  margin-right: 5rem
}
.help__body {
  display: flex;
  flex-direction: column;
  gap: 6.25rem;
  padding-left: 1.25rem
}
.help__items {
  padding: 0 1.625rem;
  gap: 1rem;
  display: flex;
  justify-content: space-between
}
.help__info {
  gap: 1.875rem 1rem;
  display: grid;
  grid-template-columns: repeat(3,1fr)
}
.help-item {
  flex: 1;
  max-width: 19rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: .875rem
}
.help-item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.help-item__title {
  font-weight: 200;
  font-size: 1.5625rem;
  line-height: 109%
}
.help-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem
}
.help-card__title {
  font-weight: 200;
  font-size: 2.8125rem;
  line-height: 111%;
  min-height: 6.25rem
}
.help-card__title span {
  display: none
}
.help-card__text {
  font-weight: 200;
  font-size: 1.5625rem;
  line-height: 109%
}
.products__container {
  max-width: 105rem
}
.products__list {
  display: flex;
  flex-direction: column;
  gap: 6.25rem
}
.products__bottom {
  padding-top: 4.4375rem;
  margin-bottom: 1.9375rem
}
.products__text {
  font-family: "Cormorant Garamond",serif;
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 1.214;
  letter-spacing: .01em;
  text-transform: uppercase;
  color: rgba(39,37,31,.9);
  text-align: center
}
.product-card {
  display: flex;
  align-items: flex-start;
  gap: 3.125rem;
  color: rgba(0,0,0,.8)
}
.product-card__img {
  flex: 0 0 auto;
  width: 38.375rem
}
.product-card__img img {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.product-card__content {
  display: flex;
  flex-direction: column;
  gap: 1.875rem
}
.product-card__head {
  padding-bottom: 1.875rem;
  border-bottom: .125rem solid rgba(0,0,0,.5);
  margin-bottom: .625rem
}
.product-card__title {
  font-family: "Cormorant Garamond",serif;
  font-style: italic;
  font-weight: 500;
  font-size: 4.375rem
}
.product-card__article {
  font-size: 2.25rem;
  line-height: 167%
}
.product-card__info {
  font-style: italic;
  font-weight: 500;
  font-size: 2.0625rem;
  line-height: 182%
}
.product-card__description {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  font-size: 2.25rem;
  line-height: 167%
}
.product-card__description b {
  font-weight: 600
}
@media (min-width:48em) {
  .header__right .button {
    font-size: 1.5rem;
    padding: 1rem .9375rem;
    height: 4.125rem
  }
  .header--content .header__container {
    max-width: 97.5rem
  }
  .header--content .header__inner::before {
    width: 37.5rem
  }
  .header--content .header__inner::after {
    width: 39.25rem
  }
  .header--content .header__contact,
  .header--content .header__right {
    display: flex;
    opacity: 1
  }
  .header--content .header__logo {
    display: block;
    opacity: 1
  }
  .company__content-top br {
    display: none
  }
  .help-item__img {
    width: 7.8125rem
  }
}
@media (max-width:1023.98px) {
  body,
  html {
    font-size: 1.1111111111vw
  }
}
@media (max-width:767.98px) {
  body,
  html {
    font-size: 1rem
  }
}
@media (max-width:63.99875em) {
  .header__inner::after {
    display: none
  }
  .order-item:nth-child(2),
  .order-item:nth-child(3) {
    max-width: 97%
  }
  .contact__inner {
    max-width: none
  }
  .company__content {
    width: 100%;
    gap: 1.25rem;
    padding-bottom: 0
  }
  .company__content-top {
    gap: 3rem;
    width: 80%
  }
  .company__images {
    margin-left: auto
  }
  .help__body {
    padding-left: 0
  }
  .help__items {
    padding: 0
  }
}
@media (max-width:47.9988rem) {
  body {
    --header-height: 5rem
  }
}
@media (max-width:47.99875em) {
  body {
    font-size: .875rem
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 100%;
    top: 0;
    overflow: auto;
    padding: 6.25rem calc(.9375rem + 10vw) .9375rem 1.875rem;
    transition: .3s;
    opacity: 1
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu__list {
    align-items: flex-end;
    gap: 1.5rem
  }
  .menu__list a {
    font-size: 1.5rem
  }
  .icon-menu {
    width: 2.1875rem;
    height: 1.25rem
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    height: .0625rem
  }
  .button {
    font-size: .625rem;
    padding: .3125rem .4375rem;
    height: 1.875rem;
    border-radius: .3125rem;
    border-width: .0625rem
  }
  .social-icon {
    width: 2.5625rem
  }
  .title {
    font-size: .9375rem;
    font-weight: 400;
    line-height: 131%
  }
  .catalog__head::after,
  .catalog__head::before,
  .decor-line,
  .help__head::before,
  .order__head::after {
    height: .0625rem
  }
  .page__top-decor {
    background-image: url(../img/hero-bg-mobile.webp);
    aspect-ratio: 393/557
  }
  .page__top-decor::after,
  .page__top-decor::before {
    aspect-ratio: 393/480
  }
  .page__top-decor::before {
    bottom: -9.5625rem
  }
  .page__top-decor::after {
    top: calc(100% + 9.5625rem)
  }
  .content-page {
    padding-top: 150px
  }
  .mobile {
    display: block
  }
  .popup__close {
    width: 2rem
  }
  .popup__content {
    padding: 2.5rem .9375rem 1.875rem
  }
  .modal__form {
    gap: 1.5rem
  }
  .modal small {
    font-size: .75rem;
    line-height: 140%;
    padding-top: .625rem
  }
  .modal button[type=submit],
  .modal input[type=submit] {
    font-size: 1rem
  }
  .field {
    gap: .5rem
  }
  .field label {
    font-size: 1rem
  }
  .field input:not([type=submit]) {
    height: 1.75rem;
    font-size: .875rem
  }
  .header::after {
    display: none
  }
  .header {
    padding: 1.875rem 10vw 1rem 5.25rem
  }
  .header__inner {
    justify-content: flex-end
  }
  .header__inner::before {
    width: 100%;
    height: .0625rem
  }
  .header__left {
    gap: 1.0625rem;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: .5rem
  }
  .header .social-icon {
    width: 1.875rem
  }
  .header--fixed .header__inner::before {
    width: 100%
  }
  .header--fixed .header__contact,
  .header--fixed .header__right {
    display: none
  }
  .header--fixed .header__logo {
    display: none
  }
  .catalog {
    margin: 2.1875rem 0 1.25rem
  }
  .catalog__head {
    gap: 1.6875rem;
    margin-bottom: 2.125rem
  }
  .catalog__head::before {
    display: none
  }
  .catalog__body {
    gap: .625rem
  }
  .catalog__body:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .catalog__bottom button.button {
    display: none
  }
  .catalog__bottom .button {
    padding: .3125rem .875rem
  }
  .catalog__text {
    display: none
  }
  .catalog-marquee {
    gap: .625rem
  }
  .catalog-marquee__block {
    gap: .625rem
  }
  .catalog-marquee__item {
    height: 12.5rem
  }
  .catalog-marquee__grid {
    grid-template-rows: 6.5625rem 5.3125rem;
    gap: .625rem
  }
  .catalog-marquee--reverse .catalog-marquee__item {
    height: 12.1875rem
  }
  .order {
    margin: 3.375rem 0;
    margin-top: calc(-1*(var(--header-height) - 3.375rem))
  }
  .order::after {
    display: none
  }
  .order__top {
    padding-left: 0;
    gap: 0;
    margin-bottom: 3.5rem
  }
  .order__head {
    padding-left: 0
  }
  .order__head::after {
    margin-left: 1.25rem
  }
  .order__text {
    display: none
  }
  .order__list {
    gap: 1.875rem
  }
  .order__list:not(:last-child) {
    margin-bottom: 0
  }
  .order__memo {
    display: none
  }
  .order-item {
    font-size: .875rem
  }
  .order-item h3 {
    font-size: 1.6875rem;
    line-height: 90%;
    padding-bottom: .75rem;
    margin-bottom: .75rem
  }
  .order-item h3::after {
    height: .0625rem;
    width: 80%
  }
  .order-item ul {
    padding-left: 1.25rem
  }
  .order-item ul li::marker {
    font-size: inherit
  }
  .contact {
    margin: 3.375rem 0 1.125rem
  }
  .contact__title {
    padding-left: 0;
    margin-bottom: 1.5625rem;
    text-align: center
  }
  .contact__form {
    margin-left: 0;
    gap: .6875rem;
    margin-bottom: 2.5rem
  }
  .contact__form input:not([type=submit]) {
    height: 1.75rem;
    padding: .3125rem .625rem;
    font-size: .8125rem;
    border-radius: .375rem;
    font-size: .8125rem
  }
  .contact__form input[type=submit] {
    font-size: .75rem;
    height: 1.75rem;
    padding: .375rem .5625rem;
    border-radius: .375rem
  }
  .contact__menu {
    display: none
  }
  .contact__block {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    font-size: .9375rem
  }
  .footer {
    margin: 1.875rem 0
  }
  .footer__copy {
    text-align: center;
    font-size: .625rem;
    display: block
  }
  .footer__copy img {
    width: 1.25rem
  }
  .hero {
    min-height: auto;
    margin-bottom: 2.5rem
  }
  .hero__inner {
    padding: 6.875rem 0 0 2.5rem
  }
  .hero__inner .button {
    margin-left: 1.75rem
  }
  .hero__logo {
    max-width: 11.8125rem
  }
  .hero__text {
    font-size: .625rem;
    margin-bottom: .625rem
  }
  .company {
    margin-bottom: 2.5625rem
  }
  .company__head {
    display: none
  }
  .company__body {
    flex-direction: column
  }
  .company__content-top {
    width: 100%
  }
  .company__text {
    gap: 1em;
    font-style: italic;
    font-size: .9375rem;
    line-height: 158%;
    color: rgba(0,0,0,.8)
  }
  .company__content-img {
    display: none
  }
  .company__text-lg {
    font-style: italic;
    font-size: 1.25rem;
    line-height: 119%;
    color: rgba(0,0,0,.8);
    max-width: 21.9375rem
  }
  .company__images {
    display: none
  }
  .help {
    margin: 2.5625rem 0 2.125rem
  }
  .help__head {
    margin-right: 0;
    margin-bottom: 1.1875rem
  }
  .help__head::before {
    margin-right: 1.125rem
  }
  .help__body {
    gap: 2.125rem
  }
  .help__items {
    flex-direction: column
  }
  .help__info {
    grid-template-columns: auto
  }
  .help-item {
    flex-direction: row;
    max-width: none
  }
  .help-item__img {
    width: 3.125rem;
    flex: 0 0 auto
  }
  .help-item__title {
    flex: 1;
    text-align: center;
    font-weight: 200;
    font-size: .8125rem;
    line-height: 154%
  }
  .help-card {
    gap: .3125rem
  }
  .help-card__title {
    min-height: auto;
    font-weight: 200;
    font-size: 1.25rem
  }
  .help-card__title span {
    display: inline
  }
  .help-card__text {
    font-size: .875rem;
    line-height: 1.35
  }
  .products__list {
    gap: 1.875rem
  }
  .products__bottom {
    padding-top: 1.875rem;
    margin-bottom: 1.875rem
  }
  .products__text {
    font-size: 1.25rem
  }
  .product-card {
    gap: .9375rem;
    display: block
  }
  .product-card__img {
    width: 7.5rem;
    float: left;
    margin: 0 .625rem .625rem 0
  }
  .product-card__content {
    gap: .9375rem;
    display: block
  }
  .product-card__top {
    margin-bottom: .9375rem
  }
  .product-card__head {
    border: none;
    margin-bottom: .625rem;
    padding-bottom: .625rem;
    position: relative
  }
  .product-card__head::after {
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(100% - 8.125rem);
    height: 1px;
    background-color: rgba(0,0,0,.5);
    content: ""
  }
  .product-card__title {
    font-size: 1.125rem
  }
  .product-card__article {
    font-size: .875rem
  }
  .product-card__info {
    font-size: .75rem;
    line-height: 1.2
  }
  .product-card__description {
    font-size: .75rem;
    gap: .625rem;
    display: block
  }
  .product-card__description>*:not(:last-child) {
    margin-bottom: .625rem
  }
  .product-card__bottom {
    margin-top: .9375rem
  }
}
@media (any-hover:hover) {
  .menu__list a:hover {
    opacity: 1
  }
  .menu__list a:hover::after {
    width: 100%
  }
  .social-icon:hover {
    opacity: 1
  }
  .popup__close:hover {
    opacity: 1
  }
  .header__social .social-icon:hover {
    opacity: .8
  }
  .header__contact a:hover {
    color: #27251f
  }
  .contact__form input[type=submit]:hover {
    color: #fff
  }
  .contact__menu a:hover {
    color: #27251f;
    border-color: #27251f
  }
  .contact__phones a:hover {
    color: #27251f;
    text-decoration: underline
  }
  .contact__mail:hover {
    color: #27251f;
    text-decoration: underline
  }
}
@media (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}